<div class="header">
    <h4>Orders</h4>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="type" class="control-label">Type</label>
                                <div class="">
                                    <select id="type" ng-model="filterData.type" ng-change="reload()" class="form-control" name="type"
                                            ng-options="type.name as type.label for type in $root.dictionaries.orderTypes">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="status" class="control-label">Status</label>
                                <div class="">
                                    <select id="status" ng-model="filterData.status" ng-change="reload()" class="form-control" name="status"
                                            ng-options="status.name as status.label for status in $root.dictionaries.orderStatuses">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" ng-show="selectedItem" class="btn btn-warning" ng-click="addEditWorker(selectedItem)">Update order</button>
                        </div>
                        <div class="col-md-6">
                            <div class="row data-table-search">
                                <label class="col-md-2 data-table-search-label pull-right">Search:</label>
                                <input ng-model="filterInput" class="col-md-10 form-control pull-right" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div loading-container="tableParams.settings().$loading" class="table-overflow table-primary">
                    <table ng-table="tableParams" show-filter="false" class="table table-striped table-bordered table-hover">
                        <tbody>
                        <tr ng-repeat="item in $data | filter : filterInput" ng-click="selectItem(item.id)" ng-class="{'table-info': item.id == selectedItem}">
                            <td data-title="'Type'" sortable="'type'" class="text-center">
                                <strong>
                                    <span ng-bind="utils.getOrderTypeLabel(item.type)"></span>
                                </strong>
                            </td>
                            <td data-title="'Workers'" sortable="'workers'" class="text-center">
                                <strong><span ng-bind="item.workers"></span></strong>
                            </td>
                            <td data-title="'Hours'" sortable="'hours'" class="text-center">
                                <strong><span ng-bind="item.hours"></span></strong>
                            </td>
                            <td data-title="'Address'" sortable="'address'" class="text-center">
                                <span ng-bind="item.address"></span>
                            </td>
                            <td data-title="'Comment'" sortable="'comment'" class="text-center">
                                <span ng-bind="item.comment"></span>
                            </td>
                            <td data-title="'Cost'" sortable="'cost'" class="text-center">
                                <strong><span ng-bind="item.cost"></span> <span ng-if="item.cost">QR</span></strong>
                            </td>
                            <td data-title="'Order date'" sortable="'orderDate'" class="text-center">
                                <strong><span ng-bind="item.formattedOrderDate"></span></strong>
                            </td>
                            <td data-title="'Status'" sortable="'status'" class="text-center">
                                <strong>
                                    <span class="badge badge-info" ng-if="item.status == 'CREATED'">Created</span>
                                    <span class="badge badge-danger" ng-if="item.status == 'CANCELED'">Canceled</span>
                                </strong>
                            </td>
                        </tr>
                        <tr ng-show="(tableParams.settings().total == 0) && !showAjaxLoader">
                            <td class="no-result-body text-center" colspan="7">There are no any orders yet.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>