<div class="header">
    <h4>Orders</h4>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="status" class="control-label">Status</label>
                                <div class="">
                                    <select id="status" ng-model="filterData.status" class="form-control" name="status"
                                            ng-options="status.name as status.label for status in $root.dictionaries.orderStatuses">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary" ng-click="addEditWorker()">Add worker</button>
                            <button type="button" ng-show="selectedItem" class="btn btn-warning" ng-click="addEditWorker(selectedItem)">Edit worker</button>
                            <button ng-if="utils.isAdmin()" type="button" ng-show="selectedItem" class="btn btn-danger" ng-click="deleteWorker(selectedItem)">Delete</button>
                        </div>
                        <div class="col-md-6">
                            <div class="row data-table-search">
                                <label class="col-md-2 data-table-search-label pull-right">Search:</label>
                                <input ng-model="filterInput" class="col-md-10 form-control pull-right" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div loading-container="tableParams.settings().$loading" class="table-overflow table-primary">
                    <table ng-table="tableParams" show-filter="false" class="table table-striped table-bordered table-hover">
                        <tbody>
                        <tr ng-repeat="item in $data | filter : filterInput" ng-click="selectItem(item.user.id)" ng-class="{'table-info': item.user.id == selectedItem}">
                            <td data-title="'Name'" sortable="'user.name'" class="text-center">
                                <strong>
                                    <span ng-bind="item.user.name"></span>
                                </strong>
                            </td>
                            <td data-title="'Email'" sortable="'user.email'" class="text-center">
                                <span ng-bind="item.user.email"></span>
                            </td>
                            <td data-title="'Phone'" sortable="'user.phone'" class="text-center">
                                <span ng-bind="item.user.phone"></span>
                            </td>
                            <td data-title="'Specialization'" class="text-center specialization-icons">
                                <img ng-if="item.cleaner" title="Cleaner" src="/resources/main/img/spec/cleaner.png"/>
                                <img ng-if="item.carpenter" title="Carpenter" src="/resources/main/img/spec/carpenter.png"/>
                                <img ng-if="item.electrician" title="Electrician" src="/resources/main/img/spec/electrician.png"/>
                                <img ng-if="item.acTechnical" title="AC Technical" src="/resources/main/img/spec/acTechnical.png"/>
                                <img ng-if="item.mason" title="Mason" src="/resources/main/img/spec/mason.png"/>
                                <img ng-if="item.painter" title="Painter" src="/resources/main/img/spec/painter.png"/>
                                <img ng-if="item.plumber" title="Plumber" src="/resources/main/img/spec/plumber.png"/>
                            </td>
                            <td data-title="'Status'" sortable="'user.active'" class="text-center">
                                <span ng-show="item.user.active" class="badge badge-success">Active</span>
                                <span ng-show="!item.user.active" class="badge badge-default">Inactive</span>
                            </td>
                        </tr>
                        <tr ng-show="(tableParams.settings().total == 0) && !showAjaxLoader">
                            <td class="no-result-body text-center" colspan="2">There are no any workers yet.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>